@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@font-face {
    font-family: 'Open Sans';
    src: url('/font/OpenSans-VariableFont_wdth\,wght.ttf');
}


*,body, ::after, ::before{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

header .nav{

    height: 50px;
    min-width: 250px;
    background-color: black;
    display: flex;
    justify-content: end;
}

header i {

    color: white;
    margin: auto 40px;
    font-size: 30px;
}
header .logo{

    display: flex;
    justify-content: center;
    background-color: black;
}
header .logo img{

    height: 50px;
    width: 100px;
}
.menu{
    display: none;
    position: absolute;
    width: 150px;
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    z-index: 1000;
    left: 0;
    height: 250px;
    opacity: 0;
    transition: opacity 0.5s;
}
.menu.click{

    opacity: 1;
}
.menu ul {

    list-style: none;
    display: block;   
}
.menu ul li {

    margin: 10px 10px;
    font-size: 20px;
    cursor: pointer;
}
.container{

    display: flex;
    justify-content: center;
}
.slider{

    position: relative;
    width: 100%;
    
}

.nav img {
    cursor: pointer;
    color: white;
}
.img1.active,
.img2.active,
.img3.active{

    display: block;
    opacity: 1;
}
.img1,
.img2,
.img3{

    
    height: 626px;
    min-width: 350px;
    background-size: cover;
    background-position: 90% 50%;
    display: none;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
    transition: opacity 0.5s ease-in

}
.img1 {
    background-image: url(../Images/Truck-1.jpeg);
}
.img2{
    background-image: url(../Images/Truck-2.jpeg);
    display: none;
}
.img3{
    background-image: url(../Images/Truck-3.jpeg);
    display: none;
}
.text-img1,
.text-img2,
.text-img3{

    width:300px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    display: flex;
    position: absolute;
    left: 10%;
    right: 90%;
    bottom: 5%;
}
.text1,
.text2,
.text3 {

    font-size: 15px;
    display: flex;
    align-items: center;
}
.chiffre {

    font-size: 50px;
    margin: 0 5px;
    vertical-align: middle;
    position: relative;

}
.previous{

    height: 45px;
    width: 45px;
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 2.5%;
    font-size: 35px;
    color: white;
    cursor: pointer;
}
.next{
    height: 45px;
    width: 45px;
    background-color: rgba(0, 0, 0, 0.514);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 2.5%;
    font-size: 35px;
    color: white;
    cursor: pointer;
}
/******* CONTAINER 2 *******/

.container2 {

    display: flex;
    justify-content: center;
}
.co-cont2{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-image: linear-gradient(to right, white 20%, rgb(255, 166, 0), rgb(216, 150, 27));
}
.picture1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;
    text-align: center;
    padding-left: 20px;
    margin-top: 20px;
}
.picture1-1{

    background-image: url(../Images/Truck-Container2jpeg.jpeg);
    width: 500px;
    height: 280px;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    border-radius: 3px;

}
.text-picture1,
.text-picture2,
.text-picture3{

    margin-top: 30px;
    font-size: 18px;
    width: 500px;
    line-height: 25px;
}
.text-picture1 p{

    margin-bottom: 100px;
}
.text-picture3{

    font-size: 20px;
}
.picture2{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
}
.picture2-2{

    background-image: url(../Images/Bus-container2.jpeg);
    width: 500px;
    height: 280px;
    background-position: 50%, 50%;
    border-radius: 3px;
}
.barre-noir{

    width: 193px;
    background-color: black;;
    height: 3px;
    margin: 110px 20px 20px 0px;
    border: none;
}
.picture3{

    display: flex;
    justify-content: center;
    flex-direction:column;
    margin-left: 20px;
}
.fleche{

    width: 50px;
    height: 50px;
    margin: 20px 0;
    cursor: pointer;
}
.grosse-barre-noir{

    width: 104px;
    height: 9px;
    background-color: black;
    margin: 20px 0px;
    border: none;
}
.container3{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}
.co-cont3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.co-cont3-g{

    background-color: black;
    padding: 20px;
    margin-top: 30px;
}
.barre-blanche{

    width: 310px;
    height: 3px;
    margin: 80px 0px 10px 0px;
    background-color: white;
}
.titre-cont3{

    display: flex;
    justify-content: left;
    font-size: 40px;
    margin: 20px 9px 0px 10px;
}
.grosse-barre-blanche{

    width: 104px;
    height: 9px;
    margin-top: 20px;
    background-color: white;
}
.text-cont3{

    margin: 30px 9px 0 0px;
    font-size: 20px;
    line-height: 1.2;
    width: 500px;
}
.readmore{

    width: 130px;
    height: 45px;
    background-color: #ffca00;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 40px 0px 80px 0px;
    cursor: pointer;
}
.co-cont3-d{

    background-image: url(../Images/Image-Cont3.jpeg);
    background-position: 70%, 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 583px;
    height: 649px; 
}
.co-cont4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cont4-truck,
.cont4-bus,
.cont4-models{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 540px;
    margin-top: 50px;
}
.cont4-text{

    width: 540px;
    margin-top: 50px;

}
.cont4-truck-image{

    background-image: url(../Images/Cont4-Truck1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%, 50%;
    width: 540px;
    height: 519px;
}
.cont4-bus-image{

    background-image: url(../Images/Cont4-BUS1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%, 50%;
    width: 540px;
    height: 519px;
}
.cont4-models-image{

    background-image: url(../Images/Cont4-Models1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%, 50%;
    width: 540px;
    height: 519px;
}
.cont4-truck-text,
.cont4-bus-text,
.cont4-models-text{

    padding: 10px 13px;
    border: 1px solid grey;
}
.cont4-truck-text h1,
.cont4-bus-text h1,
.cont4-models-text h1{

    margin: 20px 0px;
}
.cont4-truck-text p,
.cont4-bus-text p,
.cont4-models-text p{

    margin: 10px 0px;
    font-style: italic;
    font-size: 18px;
}
.cont4-text{
    width: 540px;
    height: 259px;
    margin-bottom: 50px;
}
.cont4-text{

    background-color:#ffca00 ;
    padding: 30px 10px;
}
.cont4-text h2{
    font-size: 30px;
}
.cont4-text p{

    margin: 20px 0px;
    line-height: 1.3;
}
.cont4-text img {

    margin: 10px 0px;
    height: 44px;
    width: 44px;
}

.container5{

    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 100%;;
}
.cont5-image{
    background-image: url(../Images/cont5-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%, 50%;
    width: 580px;
    height: 461px;
    position: relative;
    display: flex;
    justify-content: center;
}
.cont5-text{
    position: absolute;
    z-index: 1000;
    background-color: #1a1a1ae1;
    width: 540px;
    height: 290px;
    color: white;
    transform: translate(0px, -100px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 35px;
}
.cont5-text p{

    margin-top: 28px;
}
.cont5-text h1{

    font-size: 33px;
    margin-top: 50px;
    color: white;
}
.cont5-text p {

    font-size: 21px;
}
.fa-arrow-right-to-arc {

    font-size: 35px;
    color: white;
    margin-top: 40px;
    height: 44px;
    width: 44px;
}

.container6{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.co-cont6{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cont6-text{

    width: 540px;
    height: 364px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 0 5px;
}
.cont6-text h1{

    font-size: 35px;
    font-weight: 600;
}
.cont6-text p{

    font-size: 19px;
    font-style: italic;
    line-height: 1.3;
    margin: 30px 0 35px;
    font-family: 'OpenSans-VariableFont_wdth';
    font-weight: 500;
}
.cont6-design{

    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont6-design h2{

    font-size: 30px;
    font-weight: 600;
    margin: 20px 11px 0 8px;
}
.cont6-design p{

    font-size: 16px;
    margin: 17px 11px 20px 8px;
    font-family: Oswald,sans-serif;
}
.design1,
.design2,
.design3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 570px;
    height: 494px;
    margin-top: 30px;
}
.design1-image{

    background-image: url(../Images/Design1.jpeg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 538px;
    height: 464px;
}
.design2-image{

    background-image: url(../Images/Design2.jpeg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 538px;
    height: 464px;
}
.design3-image{

    background-image: url(../Images/design3.jpeg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 538px;
    height: 464px;
}

.design1-text,
.design2-text,
.design3-text{

    border: 1px solid grey;
    width: 538px;
}
.container7{

    background-image: url(../Images/Container7.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 90%;
    height: 479px;
    width: 100%;
    margin: 20px 0px;

}
.container8{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.co-cont8{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cont8-h{

    display: flex;
    flex-wrap: wrap;
}
.cont8-hg{

    height: 343px;
    width: 283px;
}
.cont8-hg h2{
    font-size: 37px;
    margin: 20px 13px;
    font-weight: 600;
}
.cont8-hg .p8{

    font-size: 20px !important;
    margin: 20px 13px;
    font-weight: 500;
}
.barre-noir-long{

    background-color: black;
    width: 357px;
    margin: 40px 20px 0 0;
    border: none;
}
.cont8-hd{

    width: 390px;
    height: 412px;
    background-color: #ffca00;
    padding-left: 20px;
    transform: translate(0px, -200px);
}
.title-cont8{

    font-size: 36px;
    font-weight: 600;
    margin: 20px 20px 0 0;
}
.cont8-hd p{

    font-size: 20px;
    margin: 38px 20px 0px 0px;
    font-family: 'OpenSans-VariableFont_wdth'!important;
    font-weight: 100;
    line-height: 1.3;
}
.cont8-hd .readmore{
    margin: 20px 0px 40px 0px;
    font-family: 'OpenSans-VariableFont_wdth'!important;
}
.cont8-hd .readmore{

    color: white;
    background-color: black;
    width: 128px;
    height: 45px;
    font-size: 14px;
}
.container9{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.co-cont9{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
}
.cont9-img1,
.cont9-img2,
.cont9-img3,
.cont9-img4{ 

    width: 540px;
    height: 301px;
}
.cont9-img1{

    background-image: url(../Images/cont9-img1.jpeg);
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.cont9-img2{

    background-image: url(../Images/cont9-img2.jpeg);
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.cont9-img3{

    background-image: url(../Images/cont9-img3.jpeg);
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.cont9-img4{

    background-image: url(../Images/cont9-img4.jpeg);
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.container10{

    display: flex;
    justify-content: center;
    color: white;
}
.co-cont10{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cont10-g{

    width: 100%;
    height: 507px;
    background-color: #1a1a1a;
    padding: 25px;
}
.cont10-g .barre-blanche{

    margin-top: 15px;
}
.cont10-g .grosse-barre-blanche{

    width: 175px;
    margin-bottom: 40px;
}
.cont10-g p{

    font-family: 'OpenSans-VariableFont_wdth',sans-serif;
    line-height: 1.7;
    font-size: 16.5px;
}
.cont10-g h2{

    font-family: 'Oswald',sans-serif;
    font-size: 36px;
    font-weight: bold;
}
.cont10-g .readmore {

    margin-bottom: 40px;
}
.cont10-d{

    background-image: url(../Images/cont10-img1.jpeg);
    height: 570px;
    width: 100%;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.auteur{

    font-size: 25px;
    font-weight: 700;
    letter-spacing: 5px;
    color: rgb(58, 58, 241);
    margin: 30px auto;
    width: 300px;
    padding-left: 8px;
}
.auteur h1{

    box-shadow: 0px 2px 5px grey;
    border-radius: 5px;
}